<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         id="org.pathwayeditor.application.cytoscapeContextAdapter"
         name="Cytoscape Context Adapter"
         point="org.pathwayeditor.application.contextAdapters">
      <context
            class="plugin.CytoscapeServiceProviderLoader">
      </context>
   </extension>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Cytoscape.main"
            class="plugin.CytoscapeValidationRulePreferences"
            id="Cytoscape.validationRuleConfiguration"
            name="Validation Rule Config">
      </page>
      <page
            class="plugin.MainPreference"
            id="Cytoscape.main"
            name="Cytoscape Context Adapter">
      </page>
   </extension>
</plugin>
